<div class="center jumbotron">
<h2>Search Result</h2>

<% if @authors %>
	<table class="table">
		<thead>
			  <tr>
			   		<td>Author</td>
			   		<td>Comment</td>
			  </tr>
		</thead>
		<% @authors.each do |author| %>
			<tr>
			   <td><%= author.author %></td>
			   <td><%= author.comment %></td>
			 
			</tr>
		<% end %>
	</table>
	<%= link_to 'Go back', post_path %>
<% end %>
</div>